.frame
  .small.plan-basic
    .title basic
    .price $5 <br> <span>per month</span>
    .lines 
      - 4.times do
        .line
  .small.plan-pro
    .title pro
    .price $10 <br> <span>per month</span>
    .lines 
      - 4.times do
        .line
  .small.plan-premium
   .title premium
   .price $20 <br> <span>per month</span>
   .lines 
      - 4.times do
        .line
  .big
    .data.data1
      .data-text
        .left 5 Users
        .right 100 Users
      .data-line
    .data.data2
      .data-text
        .left 20 GB
        .right 200 GB
      .data-line
    .data.data3
      .data-text
        .left 1 Project
        .right 50 Projects
      .data-line