body {
  height: 100vh;
  display: grid;
  place-content: center;
}
.frame {
  padding: 12.5em;
  border-radius: 0.3125em;
  box-shadow: 0.5625em 0.5625em 1.1875em 0 rgba(0, 0, 0, 0.1);
  background: radial-gradient(ellipse at center, #f6e8d7 0%, #dabe9b 100%);
  position: relative;
}
.leg {
  position: absolute;
  top: 0;
  left: 9.1875em;
  width: 9.4375em;
  height: 15.3125em;
  transform-origin: 50% 0;
}
.shoe {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 9.4375em;
  height: 8em;
  background: url(https://100dayscss.com/codepen/doc-martens.svg) center center
    no-repeat;
}
.right {
  -webkit-animation: swing 2s ease-in-out infinite;
  animation: swing 2s ease-in-out 1s infinite;
}
.right .shoe {
  -webkit-animation: shoeRotate 2s ease-in-out 1s infinite;
  animation: shoeRotate 2s ease-in-out 1s infinite;
}
.left {
  -webkit-animation: swing 2s ease-in-out infinite;
  animation: swing 2s ease-in-out infinite;
}
.left .shoe {
  -webkit-animation: shoeRotate 2s ease-in-out infinite;
  animation: shoeRotate 2s ease-in-out infinite;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9.75em;
  background: #232323;
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(-22deg);
  }
  50% {
    transform: rotate(40deg);
  }
}
@keyframes shoeRotate {
  0%,
  100% {
    transform: rotate(-10deg) translate(-5px, -20px);
  }
  25% {
    transform: rotate(0) translate(0);
  }
  50% {
    transform: rotate(0deg) translate(-20px, -30px);
  }
  75% {
    transform: rotate(0) translate(0, -30px);
  }
}
