@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
$numberOfElements: 4; 
$fontSize: 30px;
.frame {
  position: absolute;
	inset:calc(50% - 200px);
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.13);
	overflow: hidden;
  background: #f39c12;
  color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.carousel{
	font-size: $fontSize;
	line-height: $fontSize * 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:8px;
	margin-top: 176px;
	padding-left: 15px;
	&>*{
		display: inline-block;
		text-shadow: 2px 2px 2px #e67e22;
	}
	.outer{
		overflow:hidden;
		font-weight: 700;
		text-shadow: 2px 2px 2px #e67e22;
		height: $fontSize * 1.5;
	}
	.inner{
		animation: up 8s ease-in-out infinite;
		text-align:left;
	}
}
@keyframes up {
	0%, 20% {
		transform: translateY(0);
	}
	25%,45% {
		transform: translateY($fontSize * -1.5);
	}
	50%,70% {
		transform: translateY($fontSize * -3);
	}
	75%,95% {
		transform: translateY($fontSize * -4.5);
	}
	100% {
		transform: translateY($fontSize * -6);
	}
}