@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.frame {
	position: absolute;
	inset: calc(50% - 200px);
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	background: #684595;
	@include center;
}
input {
	display: none;
	&:checked ~ .microphone {
		circle {
			animation: circle 5s linear infinite;
			@keyframes circle {
				to {
					stroke-dashoffset: (-296 * 2);
					transform: rotate(1turn);
				}
			}
		}
		.icon {
			animation: fade-in 0.7s ease-in-out both;
			@keyframes fade-in {
				30% {
					transform: scale(1.1);
				}
				to {
					transform: scale(0);
					opacity: 0;
				}
			}
		}
		.dots {
			animation: dots 1s ease-in-out both;
			@keyframes dots {
				0%,
				60% {
					opacity: 0;
					transform: scale(0);
				}
				to {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
		.dot {
			animation: dot 1s ease-in-out infinite;
			@keyframes dot {
				from,
				to {
					transform: translatey(5px);
				}
				50% {
					transform: translatey(-5px);
				}
			}
		}
	}
}
label {
	position: absolute;
	inset: 0;
	cursor: pointer;
	z-index: 2;
}
.microphone {
	padding-inline: 50px;
	aspect-ratio: 1;
	position: absolute;
	@include center;
	circle {
		fill: none;
		stroke: #fff;
		stroke-width: 3;
		stroke-linecap: round;
		stroke-dasharray: 296 296;
		transform-origin: 50%;
	}
	.icon {
		position: absolute;
		width: 24px;
		height: 66px;
		.t {
			padding: 26px 12px;
			background: #fff;
			border-radius: 50px;
			&::before {
				position: absolute;
				content: "";
				padding: 8px 3px;
				background: #684595;
				border-radius: 50px;
				inset: 7px auto auto 9px;
			}
		}
		.lv {
			position: absolute;
			padding: 7.5px 2px;
			inset: 51px auto auto 10px;
			background: #fff;
		}
		.lh {
			position: absolute;
			padding: 2px 12px;
			bottom: 0;
			background: #fff;
			border-radius: 50px;
		}
	}
	.dots {
		background: #f0;
		position: absolute;
		display: flex;
		gap: 10px;
		opacity: 0;
		.dot {
			padding: 5px;
			background: #fff;
			border-radius: 50%;
			&:nth-of-type(2) {
				animation-delay: -0.2s;
			}
			&:last-of-type {
				animation-delay: -0.4s;
			}
		}
	}
}
