.frame {
	position: absolute;
	inset: calc(50% - 200px);
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 30%);
	background: #dd3c54;
	display: grid;
	place-items: center;
}
.bell {
	position: absolute;
	transform-origin: 50% 0;
	animation: shake 2.5s ease infinite;
	@keyframes shake {
		50%,
		100% {
			transform: rotate(0);
		}
		5%,
		10%,
		15%,
		20%,
		25%,
		30%,
		35%,
		40% {
			transform: rotate(6deg);
		}
		45% {
			transform: rotate(4deg);
		}
		7.5%,
		12.5%,
		17.5%,
		22.5%,
		27.5%,
		32.5%,
		37.5%,
		42.5% {
			transform: rotate(-6deg);
		}
		47.5% {
			transform: rotate(-2deg);
		}
	}
}
.line {
	position: absolute;
	&-1,
	&-2,
	&-3 {
		inset: 170px auto auto 230px;
	}
	&-4,
	&-5,
	&-6 {
		inset: 170px 230px auto auto;
	}
}
@for $i from 1 through 6 {
	.line-#{$i} {
		animation: line-#{$i} 2500ms ease-out infinite both;
	}
}
@keyframes line-1 {
	50%,
	100% {
		transform: translate3d(60px, 0, 0) scale(2);
		opacity: 0;
	}
}
@keyframes line-2 {
	0%,
	19% {
		opacity: 0;
	}
	20% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 1;
	}
	70%,
	100% {
		transform: translate3d(60px, 0, 0) scale(2);
		opacity: 0;
	}
}
@keyframes line-3 {
	0%,
	39% {
		opacity: 0;
	}
	40% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 1;
	}
	90%,
	100% {
		transform: translate3d(60px, 0, 0) scale(2);
		opacity: 0;
	}
}
@keyframes line-4 {
	50%,
	100% {
		transform: translate3d(-60px, 0, 0) scale(2);
		opacity: 0;
	}
}
@keyframes line-5 {
	0%,
	19% {
		opacity: 0;
	}
	20% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 1;
	}
	70%,
	100% {
		transform: translate3d(-60px, 0, 0) scale(2);
		opacity: 0;
	}
}
@keyframes line-6 {
	0%,
	39% {
		opacity: 0;
	}
	40% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 1;
	}
	90%,
	100% {
		transform: translate3d(-60px, 0, 0) scale(2);
		opacity: 0;
	}
}
